<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${userEntity}" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input th:field="*{name}" type="text" name="name"></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input th:field="*{email}" type="text" name="email"></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input th:field="*{pass}" type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="reset" value="Clear"/></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>